<div class="container">

<h1>All drugs</h1>

<div class="row">
<%= form_tag drugs_path, method: :get, class: 'navbar-form navbar-left' do %>
   <div class='form-group'>
     <%= text_field_tag :term, params[:term], id: "navbar-search-input", class: 'form-control', placeholder: 'Drug name.....' %>
   </div>
   <%= button_tag(type: 'submit', id: 'navbar-search-btn', class: 'btn btn-default') do %>
     <i class='fa fa-search fa-fw'></i> Search
   <% end %>  
<% end %>
</div>

<div class="row">

<table>
  <tr>
    <th>Proprietary Name</th>
    <th>Dosage Form</th>
    <th>Active Ingredient Unit</th>
  </tr>
 
  <% @drugs.each do |drug| %>
    <tr>
      <td><%= truncate(drug.proprietaryname, :length => 20) %></td>
      <td><%= truncate(drug.dosageformname, :length => 20) %></td>
      <td><%= truncate(drug.active_ingred_unit, :length => 20) %></td>
    </tr>
  <% end %>
</table>
</div>
</div>